JSON file(EHDP).json
[{"id":"876b7862d5541ec6","type":"tab","label":"Flow 5","disabled":false,"info":"","env":[]},{"id":"73aea296644af7c6","type":"ui_form","z":"876b7862d5541ec6","name":"","label":"","group":"ed1c5cb8f7ed582f","order":4,"width":0,"height":0,"options":[{"label":"AVGHEARTBEATSPERMIN","value":"a","type":"number","required":true,"rows":null},{"label":"PALPITATIONSPERDAY","value":"p","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"c","type":"number","required":true,"rows":null},{"label":"BMI","value":"b","type":"number","required":true,"rows":null},{"label":"AGE","value":"g","type":"number","required":true,"rows":null},{"label":"EXERCISEMINPERWEEK","value":"e","type":"number","required":true,"rows":null}],"formValue":{"a":"","p":"","c":"","b":"","g":"","e":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":90,"y":40,"wires":[["e7d7775a20a4fce6"]]},{"id":"bbcf0471818d621c","type":"debug","z":"876b7862d5541ec6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":40,"wires":[]},{"id":"e7d7775a20a4fce6","type":"function","z":"876b7862d5541ec6","name":"gobal variables for form node","func":"global.set(\"AVGHEARTBEATSPERMIN\",msg.payload.b)\nglobal.set(\"PALPITATIONSPERDAY\",msg.payload.b)\nglobal.set(\"CHOLESTEROL\",msg.payload.b)\nglobal.set(\"BMI\",msg.payload.b)\nglobal.set(\"AGE\",msg.payload.b)\nglobal.set(\"EXERCISEMINPERWEEK\",msg.payload.b)\nvar apikey = \"XzUcH2V3a3Zn5kpZeK6R7iMiIVeS7Oq7ztvOpguHVVoz\"\nmsg.headers ={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":40,"wires":[["bbcf0471818d621c","60b83d43d6a11f78"]]},{"id":"a77441561cdb7d7c","type":"function","z":"876b7862d5541ec6","name":"SEX","func":"global.set(\"SEX\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":100,"wires":[["bfb260df54d7dadf"]]},{"id":"1c89c4d3d3733007","type":"function","z":"876b7862d5541ec6","name":"FAMILYHISTROY","func":"global.set(\"FAMILYHISTROY\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":160,"wires":[["dd113430ec111eb5"]]},{"id":"e98f07f70c8a25f2","type":"function","z":"876b7862d5541ec6","name":"SMOKERLAST5YRS","func":"global.set(\"SMOKERLAST5YRS\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":220,"wires":[["9a50636525d3b7e8"]]},{"id":"60b83d43d6a11f78","type":"http request","z":"876b7862d5541ec6","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":710,"y":100,"wires":[["7566a29bb3f74bc2","1e9a0f24866b8e6e"]]},{"id":"7566a29bb3f74bc2","type":"debug","z":"876b7862d5541ec6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":160,"wires":[]},{"id":"bfb260df54d7dadf","type":"debug","z":"876b7862d5541ec6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":100,"wires":[]},{"id":"dd113430ec111eb5","type":"debug","z":"876b7862d5541ec6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":180,"wires":[]},{"id":"9a50636525d3b7e8","type":"debug","z":"876b7862d5541ec6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":280,"wires":[]},{"id":"970aeadbaa0d5ca3","type":"ui_dropdown","z":"876b7862d5541ec6","name":"","label":"Select your SEX","tooltip":"","place":"Select option","group":"ed1c5cb8f7ed582f","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"F","value":"F","type":"str"},{"label":"M","value":"M","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":120,"y":100,"wires":[["a77441561cdb7d7c"]]},{"id":"7826aefa62377907","type":"ui_dropdown","z":"876b7862d5541ec6","name":"","label":" SMOKERLAST5YRS","tooltip":"","place":"Select option","group":"ed1c5cb8f7ed582f","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Y","value":"Y","type":"str"},{"label":"N","value":"N","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":140,"y":220,"wires":[["e98f07f70c8a25f2"]]},{"id":"d5e4e8d5d265eb4c","type":"ui_dropdown","z":"876b7862d5541ec6","name":"","label":"FAMILYHISTROY","tooltip":"","place":"Select option","group":"ed1c5cb8f7ed582f","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Y","value":"Y","type":"str"},{"label":"N","value":"N","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":130,"y":160,"wires":[["1c89c4d3d3733007"]]},{"id":"1e9a0f24866b8e6e","type":"function","z":"876b7862d5541ec6","name":"","func":"var AVGHEARTBEATSPERMIN = global.get(\"AVGHEARTBEATSPERMIN\")\nvar PALPITATIONSPERDAY = global.get(\"PALPITATIONSPERDAY\")\nvar CHOLESTEROL = global.get(\"CHOLESTEROL\")\nvar BMI = global.get(\"BMI\")\nvar AGE = global.get(\"AGE\")\nvar SEX = global.get(\"SEX\")\nvar FAMILYHISTORY = global.get(\"FAMILYHISTORY\")\nvar SMOKERLAST5YRS = global.get(\"SMOKERLAST5YRS\")\nvar EXERCISEMINPERWEEK = global.get(\"EXERCISEMINPERWEEK\")\nvar token=msg.payload.access_token\nmsg.headers={'content-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"Accept\":\"application/json\"}\nmsg.payload={\n\t\"input_data\": [\n\t\t{\n\t\t\t\"fields\": [\n\t\t\t\t\"AVGHEARTBEATSPERMIN\",\n\t\t\t\t\"PALPITATIONSPERDAY\",\n\t\t\t\t\"CHOLESTEROL\",\n\t\t\t\t\"BMI\",\n\t\t\t\t\"AGE\",\n\t\t\t\t\"SEX\",\n\t\t\t\t\"FAMILYHISTORY\",\n\t\t\t\t\"SMOKERLAST5YRS\",\n\t\t\t\t\"EXERCISEMINPERWEEK\"\n\t\t\t],\n\t\t\t\"values\": [\n\t\t\t\t[\n\t\t\t\t\t93,\n\t\t\t\t\t22,\n\t\t\t\t\t163,\n\t\t\t\t\t25,\n\t\t\t\t\t49,\n\t\t\t\t\t\"F\",\n\t\t\t\t\t\"N\",\n\t\t\t\t\t\"N\",\n\t\t\t\t\t110\n\t\t\t\t]\n\t\t\t]\n\t\t}\n\t]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":40,"wires":[["be6d88de0634827f"]]},{"id":"be6d88de0634827f","type":"http request","z":"876b7862d5541ec6","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/ff843680-8390-45c7-b103-5bab1f35dd16/predictions?version=2021-11-11","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":970,"y":100,"wires":[["379727efb78965e9","3d806f3f46832498"]]},{"id":"379727efb78965e9","type":"debug","z":"876b7862d5541ec6","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":40,"wires":[]},{"id":"3d806f3f46832498","type":"function","z":"876b7862d5541ec6","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][1][1]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":200,"wires":[["dde72a4b26cb35a5","558b23af56d88ef7"]]},{"id":"dde72a4b26cb35a5","type":"debug","z":"876b7862d5541ec6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":280,"wires":[]},{"id":"558b23af56d88ef7","type":"ui_text","z":"876b7862d5541ec6","group":"ed1c5cb8f7ed582f","order":5,"width":0,"height":0,"name":"","label":"The Prediction will be","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1200,"y":160,"wires":[]},{"id":"ed1c5cb8f7ed582f","type":"ui_group","name":"Enter the input","tab":"bde7d8fe2f8f923c","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bde7d8fe2f8f923c","type":"ui_tab","name":"Prediction","icon":"dashboard","disabled":false,"hidden":false}]